--extra-index-url https://download.pytorch.org/whl/torch_stable.html

ray[air]==2.12.0
transformers==4.48.0
peft==0.15.2
accelerate==1.7.0
datasets
deepspeed==0.14.5
wandb
torchmetrics
huggingface_hub>=0.25.0
git-lfs
bitsandbytes==0.43.1
torch==2.2.1+cu121
torchvision==0.17.1+cu121
torchaudio==2.2.1+cu121
triton==2.2.0